$font-family: "Open Sans", Arial, sans-serif

$bgc-header: lightsalmon
$bgc-userlist: gainsboro
$bgc-message-alt: whitesmoke

$border-color-form: salmon
$border-color-lastread: lightsalmon

$height-header: 50px
$height-form: 50px

$message-color--info: dodgerblue
$message-color--warn: tomato
$message-color--lastread: lightsalmon

$avatar-bgc: lightgray
$avatar-color: gray

$time-color: lightgray

$width-userlist: 200px
$width-formbutton: 100px
